body{
    background:  linear-gradient(180.09deg, #000000 5.27%, rgba(60, 14, 153, 0) 19.02%, #250F4F 67.96%), url(background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin: 0;
    
}
.title{
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: rgba(218, 220, 222, 0.75);
}
.logo{
    font-size: 96px;
    margin: 0px;
}
.small-title{
    margin: 0px;
}
.google-button{
    top: 75%;
    left: 45%;
    position: absolute;
    transform: translate(-44%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #1D0B3B;
    background-color: #DADCDE;
    width: 85%;
    padding: 10px;
    border-radius: 50px;
}
.email-button{
    top: 85%;
    left: 45%;
    position: absolute;
    transform: translate(-44%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color:  #DADCDE;
    background: transparent;
    border: 3px solid #DADCDE;
    width: 90%;
    padding: 10px;
    border-radius: 50px;
    outline: none;
}
.guest-button{
    top: 95%;
    left: 45%;
    position: absolute;
    transform: translate(-40%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    background: none;
    outline: none;
    border: none;
}
.guest-button a{
    text-decoration: none;
    color:  #DADCDE;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.hide{
    display: none;
}
.blur{
    backdrop-filter: blur(10px);
}
.form{
    position: absolute;
    width: 324px;
    height: 524px;
    top: 50%;
    left: 45%;
    transform: translate(-44%, -50%);
    background: #202D3D;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
}
.form-arrow{
    color:  #DADCDE;
    margin: 20px 10px;
    font-size: 36px;
    background: transparent;
    border: none;
    outline: none;
}
.profile-logo{
    color:  #DADCDE;
    margin-top: -80px;
    text-align: center;
    font-size: 96px;
    background: transparent;
    border: none;
    outline: none;
}
.welcome{
    color:  #DADCDE;
    margin-top: -30px;
    text-align: center;
    font-size: 36px;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
}
.information{
    color: rgba(218, 220, 222, 0.5);
    margin-top: -30px;
    text-align: center;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
}
.username{
    margin-top: 20px;
    margin-left: 20px;
    font-style: italic;
    background-color: transparent;
    border: none;
    font-size: 16px;
    outline: none;
}
.username::-webkit-input-placeholder{
    color:  #DADCDE;
}
.username input{
    color:  #DADCDE;
}
hr{
    height: 2px;
    background-color:  #DADCDE;
    width: 238px;
    color:  #DADCDE;
    margin-top: 0px;
}
.username-profile{
    margin-top: -20px;
    margin-left: 265px;
    color:  #DADCDE;
}
.password{
    margin-top: 20px;
    margin-left: 20px;
    font-style: italic;
    background-color: transparent;
    border: none;
    font-size: 16px;
    outline: none;
}
.password.password::-webkit-input-placeholder{
    color:  #DADCDE;
}
.password input{
    color:  #DADCDE;
}
.key{
    margin-top: -20px;
    margin-left: 265px;
    color:  #DADCDE;
}
.login-button{
    text-align: center;
    font-size: 36px;
    background: #7633B7;
    box-shadow: 0px 4px 20px 5px rgba(118, 51, 183, 0.25);
    border-radius: 50px;
    margin: 35px 40px;
    padding: 2px;
}
.login-button a{
    color: #DADCDE;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.form-foot{
    text-align: center;
    color:  #DADCDE;
}
.form-foot a{
    color: #7633B7;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    padding-left: 3px;
}